:root {
    --w: 30vw;
}

.modeBlock {
    display: flex;
    justify-content: center;
    margin: 0 15vw 5vw 15vw;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.mode1, .mode2, .mode3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modeBlock select {
    font-size: 0.9em;
    background-color: #21242B;
    width: var(--w);
    padding: 10px;
    color: white;
}

.modeBlock button {
    background-color: #21242B;
    border: 3px solid var(--green);
    font-weight: bold;
    font-size: 0.95em;
    color: white;
    width: var(--w);
    padding: 10px;
}

.modeBlock button:hover {
    background-color: #191c21;
}

.modeBlock button:disabled {
    background-color: var(--green);
}

.infoBox {
    background: #303643; 
    display: flex;
    padding: 0 15vw 0 15vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoBox hr {
    display: block;
}

.infoBox p, span {
    text-align: left;
}

.infoBox a {
    color: var(--green);
}

.infoBox ul {
    padding-left: 5%;
}

.infoBox li {
    text-align: left;
}

.modeBlock label {
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 10px;
}
